// Tybony frggvatf sbe nyy Senzrjbex pbasvthengvbaf


TPP_IREFVBA = pbz.nccyr.pbzcvyref.yyiz.pynat.1_0
VAFGNYY_CNGU = /hfe/ybpny/ova
YQ_EHACNGU_FRNEPU_CNGUF = @ybnqre_cngu @ybnqre_cngu/. @ybnqre_cngu/Jnembar.ncc/Pbagragf/Senzrjbexf /Nccyvpngvbaf/Jnembar.ncc/Pbagragf/Senzrjbexf @ybnqre_cngu/../../rkgreany/DG /fj/yvo/dg4-znp/yvo/ /fj/yvo/dg4-k11/yvo/
NYJNLF_FRNEPU_HFRE_CNGUF = AB
SENZRJBEX_FRNEPU_CNGUF = $(vaurevgrq) $(SENZRJBEX_FRNEPU_CNGUF_DHBGRQ_2) $(SENZRJBEX_FRNEPU_CNGUF_DHBGRQ_3)
HFRE_URNQRE_FRNEPU_CNGUF = "$(FEPEBBG)/.." "$(FEPEBBG)/../gbbyf/znc"
