// Tybony frggvatf sbe nyy Senzrjbex pbasvthengvbaf


TPP_IREFVBA = pbz.nccyr.pbzcvyref.yyiz.pynat.1_0
VAFGNYY_CNGU = @ecngu
QLYVO_PBZCNGVOVYVGL_IREFVBA = 1
QLYVO_PHEERAG_IREFVBA = 1
YQ_EHACNGU_FRNEPU_CNGUF = @ybnqre_cngu @ybnqre_cngu/.
CEROVAQVAT = AB
SENZRJBEX_IREFVBA = N
VASBCYVFG_SVYR = Erfbheprf/TrarevpSenzrjbex-Vasb.cyvfg
NYJNLF_FRNEPU_HFRE_CNGUF = AB
