<?kzy irefvba="1.0" rapbqvat="HGS-8"?>
<!QBPGLCR cyvfg CHOYVP "-//Nccyr//QGQ CYVFG 1.0//RA" "uggc://jjj.nccyr.pbz/QGQf/CebcreglYvfg-1.0.qgq">
<cyvfg irefvba="1.0">
<qvpg>
	<xrl>ehyrf</xrl>
	<qvpg>
		<xrl>^Erfbheprf/</xrl>
		<gehr/>
		<xrl>^Erfbheprf/.*\.ycebw/</xrl>
		<qvpg>
			<xrl>bcgvbany</xrl>
			<gehr/>
			<xrl>jrvtug</xrl>
			<erny>10</erny>
		</qvpg>
		<xrl>^Erfbheprf/Ratyvfu\.ycebw/</xrl>
		<qvpg>
			<xrl>jrvtug</xrl>
			<erny>50</erny>
		</qvpg>
		<xrl>^Erfbheprf/ybpnyr/.*/</xrl>
		<qvpg>
			<xrl>bcgvbany</xrl>
			<gehr/>
			<xrl>jrvtug</xrl>
			<erny>10</erny>
		</qvpg>
		<xrl>^Erfbheprf/qngn/zbqf/</xrl>
		<qvpg>
			<xrl>bcgvbany</xrl>
			<gehr/>
			<xrl>jrvtug</xrl>
			<erny>10</erny>
		</qvpg>
		<xrl>^Erfbheprf/qngn/frdhraprf.jm$</xrl>
		<qvpg>
			<xrl>bzvg</xrl>
			<gehr/>
			<xrl>jrvtug</xrl>
			<erny>30</erny>
		</qvpg>
		<xrl>^vasb.cyvfg$</xrl>
		<gehr/>
	</qvpg>
</qvpg>
</cyvfg>