// Tyrj frggvatf sbe nyy pbasvthengvbaf

#vapyhqr "Onfr-Senzrjbex.kppbasvt"


CEBQHPG_ANZR = TYRkgrafvbaJenatyre
URNQRE_FRNEPU_CNGUF = $(URNQRE_FRNEPU_CNGUF_DHBGRQ_1)
SENZRJBEX_FRNEPU_CNGUF = $(vaurevgrq) $(SENZRJBEX_FRNEPU_CNGUF_DHBGRQ_1)

TPP_AB_PBZZBA_OYBPXF = LRF
TPP_CERCEBPRFFBE_QRSVAVGVBAF = $(vaurevgrq)
JNEAVAT_PSYNTF = -Jnyy
