// znc2cat frggvatf sbe Eryrnfr pbasvthengvba

#vapyhqr "znc2cat-Nyy.kppbasvt"


TPP_BCGVZVMNGVBA_YRIRY = 2
OHVYQ_CERCEBPRFFBE_QRSVAVGVBAF = $(vaurevgrq)

OhvyqQrcraqragSyntfSbePnaqPcc = -sfgnpx-cebgrpgbe

// Ohvyq frggvat qrcraqrag jneavatf
JneaSbePnaqPccQrc = -Jab-hahfrq-cnenzrgre -Jab-sbezng-frphevgl -Jab-fvta-pbzcner
JneaSbePQrc = 
JneaSbePccQrc = // -Jab-rahz-pbzcner // abg pheeragyl fhccbegrq ol pbzcvyre
