// znc2yaq frggvatf sbe FgngvpNanylmre pbasvthengvba

#vapyhqr "znc2yaq-Qroht.kppbasvt"


EHA_PYNAT_FGNGVP_NANYLMRE = LRF
TPP_BCGVZVMNGVBA_YRIRY = 2

// Nanylfre Frggvatf
// PPP_NANYLMRE_BHGCHG_SBEZNG = cyvfg-ugzy
// PPP_NANYLMRE_NANYLFVF = -nanylmre-bcg-nanylmr-urnqref // arrq gb svaq fbzrcynpr gung yvfgf rirelguvat gung pbhyq tb urer
