// zncvasb frggvatf sbe Qroht pbasvthengvba

#vapyhqr "zncvasb-Nyy.kppbasvt"


TPP_RANOYR_SVK_NAQ_PBAGVAHR = LRF
TPP_QLANZVP_AB_CVP = AB
TPP_BCGVZVMNGVBA_YRIRY = 0
OHVYQ_CERCEBPRFFBE_QRSVAVGVBAF = $(vaurevgrq) QROHT

// Nqqvgvbany ohvyq syntf sbe obgu p naq p++ svyrf
OhvyqQrcraqragSyntfSbePnaqPcc = -Jreebe -sfgnpx-cebgrpgbe-nyy

// Ohvyq frggvat qrcraqrag jneavatf
JneaSbePnaqPccQrc = -Jab-reebe=hahfrq-cnenzrgre -Jab-reebe=sbezng-frphevgl -Jab-fvta-pbzcner // -Jab-reebe=fvta-pbzcner // SVKZR: Sbe fbzr ernfba gurfr jvyy or reebef naljnl, fb bss sbe abj
JneaSbePQrc = 
JneaSbePccQrc = // -Jab-reebe=rahz-pbzcner // abg pheeragyl fhccbegrq ol pbzcvyre
