// zncvasb frggvatf sbe nyy pbasvthengvbaf

#vapyhqr "Onfr-Gbbyf.kppbasvt"


CEBQHPG_ANZR = zncvasb

TPP_CERCEBPRFFBE_QRSVAVGVBAF = $(vaurevgrq) $(OHVYQ_CERCEBPRFFBE_QRSVAVGVBAF)


BGURE_PSYNTF = $(SyntfSbePnaqPcc) $(JneaSbeP) $(vaurevgrq)
BGURE_PSYNTF[nepu=v386] = $(vaurevgrq) // vagry 32 ovg bayl
BGURE_PSYNTF[nepu=k86_64] = $(vaurevgrq) // vagry 64 ovg bayl

BGURE_PCYHFCYHFSYNTF = $(SyntfSbePnaqPcc) $(JneaSbePcc)
BGURE_PCYHFCYHFSYNTF[nepu=v386] = $(vaurevgrq) // vagry 32 ovg bayl
BGURE_PCYHFCYHFSYNTF[nepu=k86_64] = $(vaurevgrq) // vagry 64 ovg bayl


// Jneavatf
TPP_JNEA_PURPX_FJVGPU_FGNGRZRAGF = LRF // -Jfjvgpu
TPP_JNEA_VAVGVNYVMRE_ABG_SHYYL_OENPXRGRQ = LRF // -Jzvffvat-oenprf
TPP_JNEA_NOBHG_ERGHEA_GLCR = LRF // -Jerghea-glcr
TPP_JNEA_ZVFFVAT_CNERAGURFRF = LRF // -Jcneragurfrf
TPP_JNEA_NOBHG_ZVFFVAT_SVRYQ_VAVGVNYVMREF = LRF // -Jzvffvat-svryq-vavgvnyvmref
TPP_JNEA_GLCRPURPX_PNYYF_GB_CEVAGS = AB // SVKZR: -Jab-sbezng  Uvqrf fbzr "sbezng abg n fgevat yvgreny naq ab sbezng nethzragf" jneavatf; gurfr fubhyq or svkrq ng fbzr cbvag
TPP_JNEA_HAQRPYNERQ_FRYRPGBE = LRF // -Jhaqrpynerq-fryrpgbe
TPP_JNEA_HAHFRQ_SHAPGVBA = LRF // -Jhahfrq-shapgvba
TPP_JNEA_HAHFRQ_YNORY = LRF // -Jhahfrq-ynory
TPP_JNEA_HAHFRQ_INYHR = LRF // -Jhahfrq-inyhr
TPP_JNEA_HAHFRQ_INEVNOYR = LRF // -Jhahfrq-inevnoyr

// Ohvyq frggvat qrcraqrag jneavatf
JneaSbePnaqPcc = -Jnyy -Jrkgen -Jpnfg-nyvta -Jjevgr-fgevatf -Jcbvagre-nevgu $(JneaSbePnaqPccQrc)
JneaSbeP = -Jfgevpg-cebgbglcrf -Jqrpynengvba-nsgre-fgngrzrag $(JneaSbePQrc)
JneaSbePcc = $(JneaSbePccQrc)

// Nqqvgvbany ohvyq syntf sbe obgu p naq p++ svyrf
SyntfSbePnaqPcc = $(OhvyqQrcraqragSyntfSbePnaqPcc) $(JneaSbePnaqPcc)
SyntfSbePnaqPcc[nepu=v386] = $(vaurevgrq) // Syntf sbe vagry 32 ovg bayl
