// ZvavHCaCp frggvatf sbe nyy pbasvthengvbaf

#vapyhqr "Onfr-Senzrjbex.kppbasvt"


CEBQHPG_ANZR = ZvavHCaCp
URNQRE_FRNEPU_CNGUF =  $(vaurevgrq) "$(FEPEBBG)/.."
HFRE_URNQRE_FRNEPU_CNGUF = $(vaurevgrq) "$(FEPEBBG)/../3eqcnegl/zvavhcacp"
TPP_FGEVPG_NYVNFVAT = AB

TPP_CERCEBPRFFBE_QRSVAVGVBAF = $(vaurevgrq) _QNEJVA_P_FBHEPR
