// CulfSF frggvatf sbe nyy pbasvthengvbaf

#vapyhqr "Onfr-Senzrjbex.kppbasvt"


CEBQHPG_ANZR = CulfSF
SENZRJBEX_FRNEPU_CNGUF = $(vaurevgrq) $(SENZRJBEX_FRNEPU_CNGUF_DHBGRQ_1) $(SENZRJBEX_FRNEPU_CNGUF_DHBGRQ_2)

TPP_AB_PBZZBA_OYBPXF = LRF
TPP_CERCEBPRFFBE_QRSVAVGVBAF = $(vaurevgrq) $(CULFSF_FHCCBEGF_GLCRF) _GUERNQ_FNSR _ERRAGENAG UNIR_NFFREG_U CULFSF_UNIR_FLF_HPERQ_U

CULFSF_FHCCBEGF_GLCRF = CULFSF_FHCCBEGF_MVC
