// Tybony frggvatf sbe nyy pbasvthengvbaf


NEPUF = v386 ccp
FQXEBBG = znpbfk10.5
FQXEBBG[nepu=k86_64] = znpbfk10.6
QROHT_VASBEZNGVBA_SBEZNG = qjnes-jvgu-qflz
TPP_IREFVBA = pbz.nccyr.pbzcvyref.yyiztpp42
ZNPBFK_QRCYBLZRAG_GNETRG = 10.5
ZNPBFK_QRCYBLZRAG_GNETRG[fqx=znpbfk10.6] = 10.6
PBCL_CUNFR_FGEVC = AB
QRNQ_PBQR_FGEVCCVAT = LRF
TPP_NHGB_IRPGBEVMNGVBA = LRF
TPP_TRARENGR_QROHTTVAT_FLZOBYF = LRF
TPP_QROHTTVAT_FLZOBYF = shyy
TPP_P_YNATHNTR_FGNAQNEQ = tah99
TPP_NYGVIRP_RKGRAFVBAF = LRF
BGURE_PSYNTF = $(vaurevgrq)
TPP_CERCEBPRFFBE_QRSVAVGVBAF = $(vaurevgrq) __ZNPBFK__

SENZRJBEX_FRNEPU_CNGUF_DHBGRQ_1 = "$(FQX_QVE)/Flfgrz/Yvoenel/Senzrjbexf"
SENZRJBEX_FRNEPU_CNGUF_DHBGRQ_2 = "$(FEPEBBG)/ohvyq/$(PBASVTHENGVBA)"
SENZRJBEX_FRNEPU_CNGUF_DHBGRQ_3 = "$(FEPEBBG)/rkgreany/DG"

YVOENEL_FRNEPU_CNGUF_DHBGRQ_1 = "$(FQX_QVE)/hfe/yvo"
YVOENEL_FRNEPU_CNGUF_DHBGRQ_2 = "$(FEPEBBG)/ohvyq/$(PBASVTHENGVBA)"
YVOENEL_FRNEPU_CNGUF_DHBGRQ_3 = "$(FEPEBBG)/rkgreany/DG"

URNQRE_FRNEPU_CNGUF_DHBGRQ_1 = "$(FEPEBBG)/rkgreany/tyrj/vapyhqr/**"
