// DhrfbTYP frggvatf sbe nyy pbasvthengvbaf

#vapyhqr "Onfr-Senzrjbex.kppbasvt"


CEBQHPG_ANZR = DhrfbTYP
NYJNLF_FRNEPU_HFRE_CNGUF = LRF

SENZRJBEX_FRNEPU_CNGUF = $(vaurevgrq) $(SENZRJBEX_FRNEPU_CNGUF_DHBGRQ_1) $(SENZRJBEX_FRNEPU_CNGUF_DHBGRQ_2)

URNQRE_FRNEPU_CNGUF = $(vaurevgrq) $(URNQRE_FRNEPU_CNGUF_DHBGRQ_2) $(URNQRE_FRNEPU_CNGUF_DHBGRQ_3) $(URNQRE_FRNEPU_CNGUF_DHBGRQ_4)

YVOENEL_FRNEPU_CNGUF = $(vaurevgrq) $(YVOENEL_FRNEPU_CNGUF_DHBGRQ_4) $(YVOENEL_FRNEPU_CNGUF_DHBGRQ_5)

HFRE_URNQRE_FRNEPU_CNGUF = "$(FEPEBBG)/rkgreany/dhrfbtyp/fep" "$(FEPEBBG)/rkgreany/dhrfbtyp/vapyhqr"

TPP_CERCEBPRFFBE_QRSVAVGVBAF = $(vaurevgrq) $(TPP_CERCEBPRFFBE_QRSVAVGVBAF_DHBGRQ_1) FVMRBS_VAG=4 FVMRBS_FUBEG=2 TYRJ_QVFNOYR_IOBF TYRJ_ZK

TPP_JNEA_VAUVOVG_NYY_JNEAVATF = LRF // hfrf qrcerpngrq fghss

TPP_CERCEBPRFFBE_QRSVAVGVBAF_DHBGRQ_1 = DHRFBTYP_IREFVBA="\"0.7.3\""

YVOENEL_FRNEPU_CNGUF_DHBGRQ_4 = "$(FEPEBBG)/rkgreany/hfe-sbagpbasvt/ybpny/yvo"
YVOENEL_FRNEPU_CNGUF_DHBGRQ_5 = "$(FEPEBBG)/rkgreany/hfe-serrglcr/ybpny/yvo"

URNQRE_FRNEPU_CNGUF_DHBGRQ_2 = "$(FEPEBBG)/rkgreany/hfe-sbagpbasvt/ybpny/vapyhqr"
URNQRE_FRNEPU_CNGUF_DHBGRQ_3 = "$(FEPEBBG)/rkgreany/hfe-serrglcr/ybpny/vapyhqr"
URNQRE_FRNEPU_CNGUF_DHBGRQ_4 = "$(FEPEBBG)/rkgreany/hfe-serrglcr/ybpny/vapyhqr/serrglcr2"
