// Gurben frggvatf sbe nyy pbasvthengvbaf

#vapyhqr "Onfr-Senzrjbex.kppbasvt"


VASBCYVFG_SVYR = Erfbheprf/gurben/Vasb.cyvfg
CEBQHPG_ANZR = Gurben
URNQRE_FRNEPU_CNGUF =  $(vaurevgrq)
HFRE_URNQRE_FRNEPU_CNGUF = "$(FEPEBBG)/rkgreany/yvogurben/yvo" "$(FEPEBBG)/rkgreany/yvogurben/vapyhqr/**"

JNEAVAT_PSYNTF = -Jab-cneragurfrf // Fvyrapr jneavatf gung ner abg bhef
JNEAVAT_PSYNTF[nepu=v386] = $(vaurevgrq) -Jab-gnhgbybtvpny-pbzcner
