<?kzy irefvba="1.0" rapbqvat="HGS-8"?>
<!QBPGLCR cyvfg CHOYVP "-//Nccyr//QGQ CYVFG 1.0//RA" "uggc://jjj.nccyr.pbz/QGQf/CebcreglYvfg-1.0.qgq">
<cyvfg irefvba="1.0">
<qvpg>
	<xrl>PSOhaqyrQrirybczragErtvba</xrl>
	<fgevat>Ratyvfu</fgevat>
	<xrl>PSOhaqyrRkrphgnoyr</xrl>
	<fgevat>Btt</fgevat>
	<xrl>PSOhaqyrTrgVasbFgevat</xrl>
	<fgevat>Btt senzrjbex 1.2.2, Pbclevtug © 1994-2010 Kvcu.Bet Sbhaqngvba</fgevat>
	<xrl>PSOhaqyrVpbaSvyr</xrl>
	<fgevat></fgevat>
	<xrl>PSOhaqyrVqragvsvre</xrl>
	<fgevat>bet.kvcu.btt</fgevat>
	<xrl>PSOhaqyrVasbQvpgvbanelIrefvba</xrl>
	<fgevat>6.0</fgevat>
	<xrl>PSOhaqyrCnpxntrGlcr</xrl>
	<fgevat>SZJX</fgevat>
	<xrl>PSOhaqyrFubegIrefvbaFgevat</xrl>
	<fgevat>Btt senzrjbex 1.2.2</fgevat>
	<xrl>PSOhaqyrFvtangher</xrl>
	<fgevat>????</fgevat>
	<xrl>PSOhaqyrIrefvba</xrl>
	<fgevat>1.2.2</fgevat>
	<xrl>AFUhznaErnqnoyrPbclevtug</xrl>
	<fgevat>Pbclevtug © 1994-2010 Kvcu.Bet Sbhaqngvba</fgevat>
	<xrl>PFErfbheprfSvyrZnccrq</xrl>
	<gehr/>
</qvpg>
</cyvfg>
