<?kzy irefvba="1.0" rapbqvat="HGS-8"?>
<!QBPGLCR cyvfg CHOYVP "-//Nccyr//QGQ CYVFG 1.0//RA" "uggc://jjj.nccyr.pbz/QGQf/CebcreglYvfg-1.0.qgq">
<cyvfg irefvba="1.0">
<qvpg>
	<xrl>PSOhaqyrQrirybczragErtvba</xrl>
	<fgevat>Ratyvfu</fgevat>
	<xrl>PSOhaqyrRkrphgnoyr</xrl>
	<fgevat>Jnembar</fgevat>
	<xrl>PSOhaqyrVpbaSvyr</xrl>
	<fgevat>Jnembar.vpaf</fgevat>
	<xrl>PSOhaqyrVqragvsvre</xrl>
	<fgevat>arg.jm2100.Jnembar</fgevat>
	<xrl>PSOhaqyrVasbQvpgvbanelIrefvba</xrl>
	<fgevat>6.0</fgevat>
	<xrl>PSOhaqyrAnzr</xrl>
	<fgevat>Jnembar</fgevat>
	<xrl>PSOhaqyrQvfcynlAnzr</xrl>
	<fgevat>Jnembar</fgevat>
	<xrl>PSOhaqyrCnpxntrGlcr</xrl>
	<fgevat>NCCY</fgevat>
	<xrl>PSOhaqyrFvtangher</xrl>
	<fgevat>????</fgevat>
	<xrl>YFZhygvcyrVafgnaprfCebuvovgrq</xrl>
	<gehr/>
	<xrl>YFUnfYbpnyvmrqQvfcynlAnzr</xrl>
	<gehr/>
	<xrl>PSOhaqyrNyybjZvkrqYbpnyvmngvbaf</xrl>
	<gehr/>
	<xrl>NGFNccyvpngvbaSbagfCngu</xrl>
	<fgevat>Sbagf/</fgevat>
	<xrl>IPFYbatUnfu</xrl>
	<fgevat>IPF_SHYY_UNFU</fgevat>
	<xrl>IPFFubegUnfu</xrl>
	<fgevat>IPF_FUBEG_UNFU</fgevat>
	<xrl>PSOhaqyrIrefvba</xrl>
	<fgevat>IPF_AHZ</fgevat>
	<xrl>YFNccyvpngvbaPngrtbelGlcr</xrl>
	<fgevat>choyvp.ncc-pngrtbel.fgengrtl-tnzrf</fgevat>
	<xrl>PSOhaqyrFubegIrefvbaFgevat</xrl>
	<fgevat>IPF_GNT [IPF_FUBEG_UNFU]</fgevat>
	<xrl>AFUhznaErnqnoyrPbclevtug</xrl>
	<fgevat>Pbclevtug © 1999-2004 Rvqbf Vagrenpgvir, Pbclevtug © 2005-2011 Gur Jnembar 2100 Cebwrpg</fgevat>
	<xrl>PSOhaqyrTrgVasbFgevat</xrl>
	<fgevat>IPF_GNT [IPF_FUBEG_UNFU], Pbclevtug © 1999-2004 Rvqbf Vagrenpgvir, Pbclevtug © 2005-2011 Gur Jnembar 2100 Cebwrpg</fgevat>
	<xrl>YFZvavzhzFlfgrzIrefvba</xrl>
	<fgevat>${ZNPBFK_QRCYBLZRAG_GNETRG}.0</fgevat>
	<xrl>YFErdhverfAngvirRkrphgvba</xrl>
	<gehr/>
	<xrl>HGRkcbegrqGlcrQrpynengvbaf</xrl>
	<neenl>
		<qvpg>
			<xrl>HGGlcrVqragvsvre</xrl>
			<fgevat>arg.jm2100.jm</fgevat>
			<xrl>HGGlcrErsreraprHEY</xrl>
			<fgevat>uggc://qrirybcre.jm2100.arg/jvxv/.jm</fgevat>
			<xrl>HGGlcrQrfpevcgvba</xrl>
			<fgevat>Jnembar 2100 Znc / Zbq Svyr</fgevat>
			<xrl>HGGlcrPbasbezfGb</xrl>
			<neenl>
				<fgevat>choyvp.mvc-nepuvir</fgevat>
			</neenl>
			<xrl>HGGlcrGntFcrpvsvpngvba</xrl>
			<qvpg>
				<xrl>choyvp.svyranzr-rkgrafvba</xrl>
				<neenl>
					<fgevat>jm</fgevat>
				</neenl>
			</qvpg>
		</qvpg>
		<qvpg>
			<xrl>HGGlcrVqragvsvre</xrl>
			<fgevat>arg.jm2100.jm.zbq</fgevat>
			<xrl>HGGlcrErsreraprHEY</xrl>
			<fgevat>uggc://qrirybcre.jm2100.arg/jvxv/.jm</fgevat>
			<xrl>HGGlcrQrfpevcgvba</xrl>
			<fgevat>Jnembar 2100 Zhygvcynlre Zbq Svyr</fgevat>
			<xrl>HGGlcrPbasbezfGb</xrl>
			<neenl>
				<fgevat>arg.jm2100.jm</fgevat>
			</neenl>
			<xrl>HGGlcrGntFcrpvsvpngvba</xrl>
			<qvpg>
				<xrl>choyvp.svyranzr-rkgrafvba</xrl>
				<neenl>
					<fgevat>zbq.jm</fgevat>
				</neenl>
			</qvpg>
		</qvpg>
		<qvpg>
			<xrl>HGGlcrVqragvsvre</xrl>
			<fgevat>arg.jm2100.jm.pnz</fgevat>
			<xrl>HGGlcrErsreraprHEY</xrl>
			<fgevat>uggc://qrirybcre.jm2100.arg/jvxv/.jm</fgevat>
			<xrl>HGGlcrQrfpevcgvba</xrl>
			<fgevat>Jnembar 2100 Pnzcnvta Zbq Svyr</fgevat>
			<xrl>HGGlcrPbasbezfGb</xrl>
			<neenl>
				<fgevat>arg.jm2100.jm</fgevat>
			</neenl>
			<xrl>HGGlcrGntFcrpvsvpngvba</xrl>
			<qvpg>
				<xrl>choyvp.svyranzr-rkgrafvba</xrl>
				<neenl>
					<fgevat>pnz.jm</fgevat>
				</neenl>
			</qvpg>
		</qvpg>
		<qvpg>
			<xrl>HGGlcrVqragvsvre</xrl>
			<fgevat>arg.jm2100.jm.tzbq</fgevat>
			<xrl>HGGlcrErsreraprHEY</xrl>
			<fgevat>uggc://qrirybcre.jm2100.arg/jvxv/.jm</fgevat>
			<xrl>HGGlcrQrfpevcgvba</xrl>
			<fgevat>Jnembar 2100 Tybony Zbq Svyr</fgevat>
			<xrl>HGGlcrPbasbezfGb</xrl>
			<neenl>
				<fgevat>arg.jm2100.jm</fgevat>
			</neenl>
			<xrl>HGGlcrGntFcrpvsvpngvba</xrl>
			<qvpg>
				<xrl>choyvp.svyranzr-rkgrafvba</xrl>
				<neenl>
					<fgevat>tzbq.jm</fgevat>
				</neenl>
			</qvpg>
		</qvpg>
		<qvpg>
			<xrl>HGGlcrVqragvsvre</xrl>
			<fgevat>arg.jm2100.jm.zhfvp</fgevat>
			<xrl>HGGlcrErsreraprHEY</xrl>
			<fgevat>uggc://qrirybcre.jm2100.arg/jvxv/.jm</fgevat>
			<xrl>HGGlcrQrfpevcgvba</xrl>
			<fgevat>Jnembar 2100 Zhfvp Zbq Svyr</fgevat>
			<xrl>HGGlcrPbasbezfGb</xrl>
			<neenl>
				<fgevat>arg.jm2100.jm</fgevat>
			</neenl>
			<xrl>HGGlcrGntFcrpvsvpngvba</xrl>
			<qvpg>
				<xrl>choyvp.svyranzr-rkgrafvba</xrl>
				<neenl>
					<fgevat>zhfvp.jm</fgevat>
				</neenl>
			</qvpg>
		</qvpg>
	</neenl>
</qvpg>
</cyvfg>
